.App {
  height: 100%;
  background:rgb(72, 110, 170);
  padding:60px;
}

.App a{
  text-decoration: none !important;
}

.nav{
  margin-bottom: 6px;
}

.nav input{
  padding: 6px;   
  background: rgb(14, 30, 56);
  border:none;
  border-radius: 4px;
  font-size:18px;
  color:white;
  width: 150px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.nav span a{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 21px;
}




.nav a, button {
  border:none;
  padding: 6px;   
  background: rgb(14, 30, 56);
  font-size:18px;
  border-radius: 4px;
  text-decoration: none;
  color:white;
  margin-right:8px;
  outline: none;
}

.nav a:hover, button:hover{
  color:rgb(72, 110, 170);
}

.author a h2{
  color:white;
}

.book a h2{
  color:white;
}